.editor-container {
    border: 2px solid hsla(78, 59%, 51%, 0.1);
    height: calc(100% - 5em);
    cursor: text;
    width: 50em;
    color: rgb(159, 204, 56);
    padding: 1em;
    font-size: 20px;
    font-weight: 200;
    font-family: "Croissant One", cursive;
}

.cm-editor {
    background: transparent;
}

.ͼ1.cm-editor.cm-focused {
    outline: none;
}

.cm-line {
    background: transparent;
    font-family: "Croissant One", cursive !important;
}

.cm-gutters {
    display: none;
}

.ͼo .cm-gutters {
    display: none;
}

.cm-activeLine {
    background: transparent;
}

.ͼo .cm-activeLine {
    background: transparent;
}